



.Kontakt_Info {
    border: none;
    background-color: #c68642;
    color: white;
    padding: 8px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}









.grid div {
    margin: 100ph;
    box-sizing: border-box;
}
.search-box {
    display: inline-block;
    background-color: #efe6dd;
    border-radius: 20px;
    padding: 10px;
}

.search-input {
    border: none;
    background-color: transparent;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    outline: none;
    width: 200px;
}

.search-button {
    border: none;
    background-color: #c68642;
    color: white;
    padding: 8px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #a56d36;
}
.bt1 {
    background-color: #c68642;
    color: white;
    padding: 35px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: right bottom;

}

.bt1:hover {
    background-color: #a56d36;
}

.filter-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-button {
    background-color: #c68642;
    color: white;
    padding: 15px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);


}

.form-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 100px;
    display: flex;
    flex-direction: column;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    grid-gap: 5px; /* Промежуток между элементами */
    align-items: center;
    left: 0;
}

    .register, .login {
    margin-bottom: 100px;
}

.Contaner_Boxs{
    width: 66.66%; /* 2/3 экрана */
    margin-left: auto; /* Выравнивание справа */
    height: 500px;
}
.aaa {
    text-decoration: None;
}